<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>about</title>
</head>
    
<body>
    <header>
		
		<div class="logo-tittle">
               <div class="logo">
                  <a href="{{ url_for('index') }}"><img src="/static/logo.png" alt="Logo" style="height: 70px;"> <!-- 调整高度以适应你的布局需求 --></a>
               </div>
		       <div class="logo-text"><a href="{{ url_for('index') }}">NumPdeVis</a></div>
            </div>
		

        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
				<li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
    </header>
   <main class="content" style="display: flex; align-items: center; justify-content: center; height: 100vh;">
       <h1 style="text-align: center;">We sincerely look forward to your participation in advancing scientific computing. <br>
       If you're interested in collaborating, feel free to reach out to the Woohuo team.</h1>
   </main>

    
</body>
</html>